<div class="wrapper">
    <img src="../../assets/logo2.png" alt="Image">
    <div class="header-text">
        Računarski fakultet
    </div>
    <div class="container">
        <div class="smaller-text">
            Sistem za ankete
        </div>
        <h2>Prijava</h2>
        <div class="input-container">
            <input type="text" placeholder="Email" id="email" [(ngModel)]="email">
        </div>
        <div class="input-container">
            <input type="password" placeholder="Lozinka" id="password" [(ngModel)]="password">
        </div>
        <div>{{message}}</div>
        <button class="login-button" (click)="login()">Prijavite se</button>
        <p>ILI</p>
        <button class="login-with-google" (click)="loginWithGoogle()"><i class="fa-brands fa-google"></i>  Prijavite se sa svojim Google nalogom</button>
    </div>
</div>